
*{
    font-size: large;
    font-family: monospace;
}

:root{

    --default-dark-gray: #505050; /* Definindo uma cor cinza mais escura */
    --default-gray: rgb(85,85,85);
    --default-cian: rgb(22,240,232);
    --default-white: #cecece;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;


    background: rgb(85,85,85);
    background: -moz-linear-gradient(148deg, rgba(85,85,85,1) 9%, rgba(85,85,85,1) 9%, rgba(85,85,85,1) 11%, rgba(85,85,85,1) 17%, rgba(85,85,85,1) 22%, rgba(85,85,85,1) 30%, rgba(81,96,96,1) 37%, rgba(75,110,109,1) 46%, rgba(60,147,144,1) 57%, rgba(50,172,168,1) 66%, rgba(38,201,195,1) 74%, rgba(22,240,232,1) 80%, rgba(22,240,232,1) 87%, rgba(22,240,232,1) 93%);
    background: -webkit-linear-gradient(148deg, rgba(85,85,85,1) 9%, rgba(85,85,85,1) 9%, rgba(85,85,85,1) 11%, rgba(85,85,85,1) 17%, rgba(85,85,85,1) 22%, rgba(85,85,85,1) 30%, rgba(81,96,96,1) 37%, rgba(75,110,109,1) 46%, rgba(60,147,144,1) 57%, rgba(50,172,168,1) 66%, rgba(38,201,195,1) 74%, rgba(22,240,232,1) 80%, rgba(22,240,232,1) 87%, rgba(22,240,232,1) 93%);
    background: linear-gradient(148deg, rgba(85,85,85,1) 9%, rgba(85,85,85,1) 9%, rgba(85,85,85,1) 11%, rgba(85,85,85,1) 17%, rgba(85,85,85,1) 22%, rgba(85,85,85,1) 30%, rgba(81,96,96,1) 37%, rgba(75,110,109,1) 46%, rgba(60,147,144,1) 57%, rgba(50,172,168,1) 66%, rgba(38,201,195,1) 74%, rgba(22,240,232,1) 80%, rgba(22,240,232,1) 87%, rgba(22,240,232,1) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#555555",endColorstr="#16f0e8",GradientType=1);
}

.calc{
    
    backdrop-filter: blur(7px) saturate(102%);
    -webkit-backdrop-filter: blur(7px) saturate(102%);
    background-color: rgba(17, 25, 40, 0.285);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);


    padding: 2rem;
}

.calc-btn{

    width: 3em;
    height: 3em;
    margin: 0.2em 0.1em 0.2em 0.1em;

    border: none;
    background: transparent;
    
    border-radius: 50%;

    box-shadow:  8px 8px 30px #373737,
             -7px -7px 50px #737373;

    color: var(--default-white);

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.
}

.calc-btn:hover{
    box-shadow:  3px 3px 45px #373737,
    -2px -2px 20px var(--default-cian);
    
    background-color: var(--default-cian);
    color:var(--default-gray);
}

.calc-btn:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 15px #373737, -1px -1px 10px var(--default-cian);
    background-color: var(--default-dark-cian); /* Altera para uma cor um pouco mais escura para o efeito pressionado */
    color: var(--default-light-gray); /* Opcional: muda a cor do texto se necessário */
}

.esp{
    color: var(--default-cian);
}

#equals-btn{
    color: var(--default-gray);
    background-color: var(--default-cian);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

#equals-btn:hover{
    color: var(--default-cian);
    background-color: var(--default-gray);
}

#equals-btn:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho para simular pressionamento */
    box-shadow: inset 0 0 5px var(--default-dark-cian); /* Adiciona um efeito de sombra interna para profundidade */
    color: var(--default-gray);
    background-color: var(--default-cian);
    

}

#display{
    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: end;
    align-items: center;

    color: var(--default-white);
}

.noselect {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Edge */
    user-select: none;         /* Padrão */
}

@media (min-width: 600px) {
    
    *{
        font-size: 24px;
    }
}
